@using shop.web.Data.Migrations;
@using shop.web.Areas.Admin.Models;
@model Product

@{
    ViewData["Title"] = "Create";
}

<h1 class="mb-3">Create Product</h1>

<form asp-controller="Product" asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-6 mb-3">

            <div class="form-group">
                <label asp-for="Name" name="Name" class="control-label"></label>
                <input asp-for="Name" name="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" name="BrandId" class="control-label"></label>
                <select class="form-select" asp-for="BrandId" name="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" name="CategoryId" class="control-label"></label>
                <select class="form-select" asp-for="CategoryId" name="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>


            <p>Gender</p>


            <div class="form-check form-check-inline">
                @*<label class="form-check-label"><input class="form-check-input" type="radio" value="@Gender.Male" name="Gender" asp-for="Gender">@Gender.Male</label>*@
                @foreach (var gen in Enum.GetValues(typeof(Gender)))
                {
                    <div class="form-check-inline">
                        <label asp-for="Gender">@gen.ToString()</label>
                        <input asp-for="Gender" type="radio" value="@gen">
                    </div>
                    @*@Html.RadioButtonFor(m => m.Gender, gen.ToString())
                @Html.LabelFor(m => m.Gender, @gen.ToString())*@
                }

            </div>
            @*<div class="form-check form-check-inline">
            <label class="form-check-label"><input class="form-check-input" type="radio" value="@Gender.Female" name="Gender" asp-for="Gender">@Gender.Female</label>
            </div>
            <div class="form-check form-check-inline">
            <label class="form-check-label"><input class="form-check-input" type="radio" value="@Gender.Unisex" name="Gender" asp-for="Gender">@Gender.Unisex</label>
            </div>*@
            <span asp-validation-for="Gender" class="text-danger"></span>
            <br />
            <br />
            <div>
                <div class="form-check form-check-inline">
                    @*@foreach (var size in Enum.GetValues(typeof(Sizes)))
                    {
                    @Html.LabelFor(x => x.AvailableSizes, @size)
                    @Html.CheckBoxFor(x => x.)
                    }*@
                    <input class="form-check-input" type="checkbox" id="a1" value="@Sizes.Small" name="Size">
                    <label class="form-check-label" for="a1">AvailableSizes</label>

                </div>
                <div class="form-check form-check-inline ps-5">
                    <input class="form-check-input" type="checkbox" id="a2" value="@Sizes.Large" name="Size">
                    <label class="form-check-label" for="a2">Large</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="a3" value="@Sizes.ExtraExtraLarge" name="Size">
                    <label class="form-check-label" for="a3">Extra Extra Large</label>
                </div>
            </div>

            <div class="form-check form-check-inline pe-1">
                <input class="form-check-input" type="checkbox" id="a4" value="@Sizes.Medium" name="Size">
                <label class="form-check-label" for="a4">Medium</label>
            </div>
            <div class="form-check form-check-inline ps-4">
                <input class="form-check-input" type="checkbox" id="a5" value="@Sizes.ExtraLarge" name="Size">
                <label class="form-check-label" for="a5">Extra Large</label>
            </div>
            @* <span asp-validation-for="AvailableSizes" class="text-danger"></span>*@
            <br />
            <br>

            <div class="input-group date" data-provide="datepicker">
                <input type="text" class="form-control datepicker" data-date-format="dd-mm-yyyy" type="date" asp-for="InsertDate" placeholder="Select date" />
            </div>
        </div>

        <div class="col-6 mb-3">
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-controller="Product" asp-action="Index" class="btn btn-outline-success">Back to list</a>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}